.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    padding: 10px;
}
.cart-container{
    border: 1px solid blue;
}
