.header
{
    height: 80px;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.logoContainer{

    width: 150px;
}
.logo{
    width: 100%;
    padding: 15px;
    margin-left: 20px;
   
}
.ulList{
    
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.ulList a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: 800;
}
.ulList a:hover{
    background: orange;
    border-radius: 25px;
}
